*-cache.lib
*.bak
*.kicad_pcb-bak
~*
*-cache.*

.vs/
bin/
obj/
*.user

Code/Microcode/app/*
!Code/Microcode/app/README.md

Code/Assembler/app/*
!Code/Assembler/app/README.md

.~lock
.DS_Store
.vscode
*.code-workspace