.assembly {
  float: left;
  width: 400px;
  height: 495px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  overflow: scroll;
  background: #000;
  color: rgb(0,255,0);
  border: 10px solid #000;
}

  .assembly .selected_address {
    background: #fff;
    color: #ff0000;
    font-weight: bold;
  }

  .screen {
    float: left;
    width: 495px;
    height: 471px;
    background: #d3d3d3;
    padding: 20px;
    border: 2px solid #000;
    margin-left: 20px;
  }

    span.type {
      display: block;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top: 15px;
      font-size: 22px;
    }

    .screen pre {
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
      color: #ccc;
      background: #000;
      padding: 5px;
      margin: 0;
      border: 2px inset;
      height: 420px;
      overflow-y: scroll;
    }

    .screen canvas {
      width: 480px;
      height: 400px;
      background: #000;
      padding: 5px;
      margin: 0;
      border: 2px inset;
    }

  .screen.video {
    height: auto;
    padding-bottom: 12px;
  }

    .screen.video span.type {
      margin-top: 13px;
    }

.state {
  float: left;
  clear: both;
  margin-top: 15px;
}

  .state .panel {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border: 2px solid;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .state .panel:last-child {
    margin-right: 0;
  }

    .state .panel .title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 18px;
      margin-bottom: 10px;
    }

  .state .register {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 2px outset;
    background: #d3d3d3;
  }

    .state .register span {
      display: block;
      text-align: center;
    }

    .state .register .name {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .state .register .value {
      background: #000;
      color: #00FF00;
      font-size: 25px;
      padding: 5px;
      border: 2px inset;
      font-family: 'Courier New', Courier, monospace;
    }

  .state .flag {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 2px outset;
    background: #d3d3d3;
  }

    .state .flag span {
      display: block;
      text-align: center;
    }

    .state .flag .name {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .state .flag .value {
      font-size: 17px;
      padding: 9px 8px 8px 8px;
    }

    .state .flag .value.v0 {
      color: #a90202;
    }

    .state .flag .value.v1 {
      color: #02a902;
    }

  .state .buttons {
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px inset;
  }

  .state .settings {
    float: left;
  }

  .state button {
    border: 2px outset;
    padding: 11px 11px 12px 11px;
    background: #d3d3d3;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .state button:last-child {
    margin-right: 0;
  }

  .state .buttonrow {
    margin-bottom: 10px;
  }

  .state .buttonrow:last-child {
    margin-bottom: 0;
  }

  .state .buttonrow.loadfromdisk {
    padding-top: 15px;
    border-top: 2px outset;
  }

  .state .controls .text {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px outset;
  }

  .state .controls .text label {
    float: left;
    margin-bottom: 5px;
  }

  .state .controls .text input {
    float: left;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    width: 80px;
  }

  .state .controls select {
    font-size: 18px;
  }

  .state .controls .text input:disabled {
    color: #ddd;
  }

  .word-wrap {
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

#program_file {
  display: none;
}